# compiled output
/dist
/tmp
/out-tsc

# dependencies (a.k.a Node modules (Yarn 1))
node_modules/

# Yarn 2+ files you should ignore
.yarn/install-state.gz
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml

# Optional: Ignore editor SDKs if not needed in the repo
.yarn/sdks/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/docs

# e2e
/e2e/*.js
/e2e/*.map

# Log files
yarn-error.log
npm-debug.log

# System Files
.DS_Store
Thumbs.db

